dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/*.*
.idea/inspectionProfiles/Project_Default.xml
.vscode/
.nvmrc
.versions/
node_modules/
allure-report/
allure-results/
logs/
src/screenshots/actual/**/*
src/screenshots/diff/**/*
$RECYCLE.BIN/

.DS_Store
.env
build/css
*.out
Thumbs.db
UserInterfaceState.xcuserstate
custom-elements.json
src/components.d.ts

.prettierrc

.stencil/
.idea/
.sass-cache/
